Repository dfinity/dre: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-image-update, dashboard-release-build, dashboard-release-publish

Path conditions:
  docker-image-update: any of: docker/**/*, Pipfile, Pipfile.lock, pyproject.toml, poetry.lock
  dashboard-release-build: any of: dashboard/**/*, rs/**/*
  dashboard-release-publish: any of: dashboard/**/*, rs/**/*

Initial bazel setup
  .bazelignore
  .bazelrc
  .bazelversion
  .gitignore
  BUILD.bazel
  WORKSPACE.bazel
  bazel/BUILD.bazel
  bazel/cargo.config
  bazel/external_crates.bzl
  bazel/workspace_status.sh
  rs/cli/BUILD.bazel
  rs/cli/build.rs
  rs/cli/build_env
  rs/decentralization/BUILD.bazel
  rs/decentralization/src/nakamoto/mod.rs
  rs/decentralization/src/static_region_data.json
  rs/ic-canisters/BUILD.bazel
  rs/ic-management-backend/BUILD.bazel
  rs/ic-management-types/BUILD.bazel
  rs/np-notifications/BUILD.bazel
  rs/slack-notifications/BUILD.bazel
Due: dashboard-release-build, dashboard-release-publish

Port some of bazelrc file from ic repo
  .bazelrc
  WORKSPACE.bazel
Due: none

New instructions for verifying release
  rs/cli/src/ic_admin.rs
Due: dashboard-release-build, dashboard-release-publish

Use the same version of repro-check.sh script as the release
  rs/cli/src/ic_admin.rs
Due: dashboard-release-build, dashboard-release-publish

Fix dashboard version find from hotfix branch
  rs/ic-management-backend/src/registry.rs
Due: dashboard-release-build, dashboard-release-publish

Undo optional crash on failure.
  .gitlab-ci.yml
  .pre-commit-config.yaml
  poetry.lock
Due: docker-image-update

Make editors which use Black correspond with pre-commit rules.
  .gitlab-ci.yml
  pyproject.toml
Due: docker-image-update

chore(qualification): Remove unused elasticsearch data ingestion from qualification
  gitlab-ci/release.yml
Due: none

chore(staging): Updating scripts for bootstrapping staging
  dashboard/package.json
  rs/cli/src/ic_admin.rs
  rs/ic-management-types/src/lib.rs
Due: dashboard-release-build, dashboard-release-publish

Update neurons-slack-mapping.yaml
  rs/slack-notifications/conf/neurons-slack-mapping.yaml
Due: dashboard-release-build, dashboard-release-publish

chore: Allow Python >3.8 and <4 in the repo
  .gitlab-ci.yml
  docker/Dockerfile
  poetry.lock
  pyproject.toml
Due: docker-image-update

When a replacement is requested, the start list of nodes must include the node...
  rs/decentralization/src/network.rs
  rs/ic-management-backend/Cargo.toml
  rs/ic-management-backend/src/endpoints/subnet.rs
  rs/ic-management-backend/src/main.rs
  rs/ic-management-backend/src/registry.rs
Due: dashboard-release-build, dashboard-release-publish

chore: Update neuron id -> slack id mappings
  rs/slack-notifications/conf/neurons-slack-mapping.yaml
  rs/slack-notifications/src/slack.rs
Due: dashboard-release-build, dashboard-release-publish

rust container images bazel
  .cargo/config.toml
  .gitignore
  .gitlab-ci.yml
  BUILD.bazel
  WORKSPACE.bazel
  bazel/cargo.config
  bazel/external_crates.bzl
  bazel/workspace_status.sh
  clippy.toml
  gitlab-ci/bazel.yml
  gitlab-ci/test.yml
  rs/BUILD.bazel
  rs/ic-management-backend/BUILD.bazel
  rs/ic-management-backend/src/endpoints/nodes.rs
  rs/ic-management-backend/src/endpoints/subnet.rs
  rs/ic-management-backend/src/release.rs
  rs/np-notifications/BUILD.bazel
  rs/np-notifications/src/main.rs
  rs/oci_images.bzl
  rs/slack-notifications/BUILD.bazel
  rs/slack-notifications/src/slack.rs
Due: dashboard-release-build, dashboard-release-publish

Add test sink
  rs/np-notifications/src/notification.rs
Due: dashboard-release-build, dashboard-release-publish

Update rust toolchain to match IC
  rust-toolchain.toml
Due: none

feat(dashboard): CLI instructions for healing a subnet
  dashboard/packages/app/src/components/subnets/SubnetsBoard.tsx
Due: dashboard-release-build, dashboard-release-publish

feat: a git hook to update ic submodule on git pull
  README.md
  git-hooks-install
Due: none

Upgrade IC dependency
  WORKSPACE.bazel
  rs/cli/Cargo.toml
  rs/cli/src/ic_admin.rs
  rs/decentralization/Cargo.toml
  rs/ic-canisters/Cargo.toml
  rs/ic-management-backend/Cargo.toml
  rs/ic-management-backend/src/proposal.rs
  rs/ic-management-backend/src/release.rs
  rs/ic-management-types/Cargo.toml
  rs/np-notifications/Cargo.toml
  rs/slack-notifications/Cargo.toml
Due: dashboard-release-build, dashboard-release-publish

feat(cli): Add github URL to the proposals for new IC version
  rs/cli/src/cli.rs
  rs/cli/src/ic_admin.rs
  rs/cli/src/main.rs
  rs/ic-management-types/src/lib.rs
Due: dashboard-release-build, dashboard-release-publish
