Repository dfinity/dre: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-image-update, dashboard-release-build, dashboard-release-publish

docker-image-update:
  stage: .pre
  interruptible: true
  script:
  - python3 docker/docker-update-image.py

dashboard-release-build:
  image: docker/compose:alpine-1.29.2
  needs: []
  dependencies: []
  stage: release
  retry: 2
  interruptible: true
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  variables:
    RELEASE_BRANCH: release
    COMPOSE_DOCKER_CLI_BUILD: '1'
    DOCKER_BUILDKIT: '1'
  script:
  ...

dashboard-release-publish:
  image: docker/compose:alpine-1.29.2
  needs: []
  dependencies: []
  stage: release
  retry: 2
  interruptible: true
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  variables:
    RELEASE_BRANCH: release
    COMPOSE_DOCKER_CLI_BUILD: '1'
    DOCKER_BUILDKIT: '1'
  script:
  ...

chore: Do not mention @release-engs on automation proposals
  rs/slack-notifications/src/slack.rs
Due: dashboard-release-build, dashboard-release-publish

chore: Update IC dependency and rustc version
  .gitignore
  .gitlab-ci.yml
  docker/Dockerfile
  docker/docker-update-image.py
  rs/Cargo.lock
  rs/cli/Cargo.toml
  rs/cli/src/ic_admin.rs
  rs/decentralization/Cargo.toml
  rs/decentralization/src/nakamoto/mod.rs
  rs/decentralization/src/network.rs
  rs/ic-management-backend/Cargo.toml
  rs/ic-management-backend/Dockerfile
  rs/ic-management-backend/src/proposal.rs
  rs/ic-management-backend/src/registry.rs
  rs/ic-management-types/Cargo.toml
  rs/ic-management-types/src/errors.rs
  rs/rust-toolchain.toml
  rs/rustfmt.toml
  rs/slack-notifications/Cargo.toml
  rs/slack-notifications/Dockerfile
Due: docker-image-update, dashboard-release-build, dashboard-release-publish

chore: Update IC dependency and rustc version
  .gitignore
  .gitlab-ci.yml
  docker/Dockerfile
  docker/docker-update-image.py
  rs/cli/Cargo.toml
  rs/cli/src/ic_admin.rs
  rs/decentralization/Cargo.toml
  rs/decentralization/src/nakamoto/mod.rs
  rs/decentralization/src/network.rs
  rs/ic-management-backend/Cargo.toml
  rs/ic-management-backend/Dockerfile
  rs/ic-management-backend/src/proposal.rs
  rs/ic-management-backend/src/registry.rs
  rs/ic-management-types/Cargo.toml
  rs/ic-management-types/src/errors.rs
  rs/rust-toolchain.toml
  rs/rustfmt.toml
  rs/slack-notifications/Cargo.toml
  rs/slack-notifications/Dockerfile
Due: docker-image-update, dashboard-release-build, dashboard-release-publish

fix: Dashboard releases only from master
  .gitlab-ci.yml
Due: none

chore: Update the submodule update in the README.md
  README.md
Due: none

fix: Release qualification should not wait block on dashboard publish
  .gitlab-ci.yml
Due: none

chore: Further adjust/restrict when some CI jobs run
  .gitlab-ci.yml
Due: none

fix: Build verification instructions should work with existing old image
  rs/cli/src/ic_admin.rs
Due: dashboard-release-build, dashboard-release-publish

feat: Use decentralized nodes for replacements
  rs/decentralization/src/nakamoto/mod.rs
  rs/decentralization/src/network.rs
  rs/ic-management-backend/src/registry.rs
  rs/ic-management-types/src/errors.rs
Due: dashboard-release-build, dashboard-release-publish

[IDX-2355] - Remove Dashboard Jabberwocky Configuration File
  dashboard/docker-compose.jabberwocky.yml
Due: dashboard-release-build, dashboard-release-publish

fix(cli): Do not inject dry-run and confirmation if --help provided
  rs/cli/src/ic_admin.rs
Due: dashboard-release-build, dashboard-release-publish

Print hostname on node removal command
  rs/cli/src/runner.rs
Due: dashboard-release-build, dashboard-release-publish

fix(cli): Do not supply auth args to ic-admin get commands
  rs/cli/src/ic_admin.rs
Due: dashboard-release-build, dashboard-release-publish

Updating my mapping.
  rs/slack-notifications/conf/neurons-slack-mapping.yaml
Due: dashboard-release-build, dashboard-release-publish

Node replacement dashboard preview
  dashboard/packages/app/src/App.tsx
  dashboard/packages/app/src/components/subnets/SubnetChangePage.tsx
  dashboard/packages/app/src/components/subnets/SubnetsBoard.tsx
  dashboard/packages/app/src/components/subnets/fetch.tsx
  dashboard/packages/app/src/components/subnets/types.tsx
  rs/decentralization/src/lib.rs
  rs/decentralization/src/network.rs
  rs/ic-management-backend/src/endpoints/subnet.rs
  rs/ic-management-backend/src/main.rs
Due: dashboard-release-build, dashboard-release-publish

IDX-2758 - Restructure of `.gitlab-ci.yml`
  .gitlab-ci.yml
  gitlab-ci/build-publish-images.yml
  gitlab-ci/release.yml
  gitlab-ci/test.yml
Due: none

Add neuron-slack mapping Pietro Di Marco
  rs/slack-notifications/conf/neurons-slack-mapping.yaml
Due: dashboard-release-build, dashboard-release-publish

Keep only latest 2 major versions when retiring
  rs/cli/src/clients.rs
  rs/cli/src/ic_admin.rs
  rs/cli/src/main.rs
  rs/cli/src/runner.rs
  rs/ic-management-backend/src/endpoints/mod.rs
  rs/ic-management-backend/src/endpoints/release.rs
  rs/ic-management-backend/src/main.rs
  rs/ic-management-backend/src/registry.rs
  rs/ic-management-types/src/lib.rs
Due: dashboard-release-build, dashboard-release-publish

Fix staging prometheus URL
  rs/ic-management-backend/src/main.rs
Due: dashboard-release-build, dashboard-release-publish

fix(cli): Fix auth for proposals to staging
  rs/cli/src/main.rs
  rs/ic-management-types/src/lib.rs
Due: dashboard-release-build, dashboard-release-publish

fix(cli): Fix instructions for verifying sha256 of the update image
  rs/cli/src/ic_admin.rs
Due: dashboard-release-build, dashboard-release-publish

Path conditions:
  docker-image-update: any of: docker/**/*, Pipfile, Pipfile.lock, pyproject.toml, poetry.lock
  dashboard-release-build: any of: dashboard/**/*, rs/**/*
  dashboard-release-publish: any of: dashboard/**/*, rs/**/*
