Repository dfinity/dre: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-image-update, dashboard-release-build, dashboard-release-publish

Path conditions:
  docker-image-update: any of: docker/**/*, Pipfile, Pipfile.lock, pyproject.toml, poetry.lock
  dashboard-release-build: any of: dashboard/**/*, rs/**/*
  dashboard-release-publish: any of: dashboard/**/*, rs/**/*

Nikola milosavljevic/new blessing unblessing
  rs/cli/src/cli.rs
  rs/cli/src/defaults.rs
  rs/cli/src/ic_admin.rs
  rs/cli/src/main.rs
  rs/cli/src/runner.rs
  rs/ic-management-types/src/lib.rs
Due: dashboard-release-build, dashboard-release-publish

Fix health status in staging
  rs/ic-management-backend/src/health.rs
  rs/ic-management-backend/src/main.rs
  rs/ic-management-backend/src/prometheus.rs
  rs/ic-management-backend/src/registry.rs
  rs/ic-management-backend/src/release.rs
  rs/ic-management-types/src/lib.rs
Due: dashboard-release-build, dashboard-release-publish

Fix regression breaking label names for mainnet
  rs/ic-management-types/src/lib.rs
Due: dashboard-release-build, dashboard-release-publish

Run only dry-run when no neuron is detected
  rs/cli/src/ic_admin.rs
Due: dashboard-release-build, dashboard-release-publish

Simulation mode
  rs/cli/src/cli.rs
  rs/cli/src/ic_admin.rs
  rs/cli/src/main.rs
  rs/cli/src/ops_subnet_node_replace.rs
  rs/cli/src/runner.rs
Due: dashboard-release-build, dashboard-release-publish

feat(dashboard): split lines in the subnet replace penalty explanations
  dashboard/packages/app/src/components/subnets/SubnetChangePage.tsx
Due: dashboard-release-build, dashboard-release-publish

feat(slack): Add a link to the internal dashboard for the subnet membership changes
  rs/slack-notifications/src/slack.rs
Due: dashboard-release-build, dashboard-release-publish

Update manually base image to use one which actually exists
  .gitlab-ci.yml
Due: none

Build base docker image using kaniko + linear jira + metrics-proxy
  .gitlab-ci.yml
  .pre-commit-config.yaml
  docker/Dockerfile
  docker/entrypoint.sh
  gitlab-ci/build-publish-images.yml
  gitlab-ci/test.yml
  gitlab-ci/update-base-image-sha.py
Due: docker-image-update

Move most CI jobs to k8s
  .gitlab-ci.yml
  docker/Dockerfile
  gitlab-ci/build-publish-images.yml
  gitlab-ci/release.yml
  gitlab-ci/test.yml
Due: docker-image-update

Remove JIRA update pipeline and dependencies
  gitlab-ci/release.yml
Due: none

Provide option to define IC admin version to use for qualification
  .gitlab-ci.yml
  gitlab-ci/release.yml
Due: none

Dashboard build and release migration
  .gitlab-ci.yml
  Makefile
  gitlab-ci/build-publish-images.yml
  gitlab-ci/dashboard.yml
Due: none

Dashboard build and release migration
  .gitlab-ci.yml
  gitlab-ci/build-publish-images.yml
  gitlab-ci/dashboard.yml
Due: none

Upgrade Rust and mold
  .gitlab-ci.yml
  docker/Dockerfile
Due: docker-image-update

chore(slack): Update the slack-neuron mappings
  rs/slack-notifications/conf/neurons-slack-mapping.yaml
Due: dashboard-release-build, dashboard-release-publish

fix(dashboard): Correctly show nodes as decentralized even if they are not in FactsDB
  rs/ic-management-backend/src/registry.rs
Due: dashboard-release-build, dashboard-release-publish

Update ic dependency version to fix issues with rollout dashboard
  .cargo/config.toml
  Cargo.toml
  rs/Cargo.lock
  rs/cli/Cargo.toml
  rs/decentralization/Cargo.toml
  rs/decentralization/src/lib.rs
  rs/ic-management-backend/Cargo.toml
  rs/ic-management-backend/src/registry.rs
  rs/ic-management-backend/src/release.rs
  rs/ic-management-types/Cargo.toml
  rs/ic-management-types/src/lib.rs
  rs/slack-notifications/Cargo.toml
  rust-toolchain.toml
  rustfmt.toml
Due: dashboard-release-build, dashboard-release-publish

Update ic dependency version to fix issues with rollout dashboard
  .cargo/config.toml
  Cargo.toml
  rs/cli/Cargo.toml
  rs/decentralization/Cargo.toml
  rs/decentralization/src/lib.rs
  rs/ic-management-backend/Cargo.toml
  rs/ic-management-backend/src/registry.rs
  rs/ic-management-backend/src/release.rs
  rs/ic-management-types/Cargo.toml
  rs/ic-management-types/src/lib.rs
  rs/slack-notifications/Cargo.toml
  rust-toolchain.toml
  rustfmt.toml
Due: dashboard-release-build, dashboard-release-publish

chore: Bump up a few more dependencies
  rs/cli/Cargo.toml
  rs/cli/src/cli.rs
  rs/cli/src/ic_admin.rs
  rs/cli/src/main.rs
  rs/decentralization/Cargo.toml
  rs/ic-management-backend/Cargo.toml
  rs/slack-notifications/Cargo.toml
Due: dashboard-release-build, dashboard-release-publish

fix bugs in execution without neuron
  rs/cli/src/ic_admin.rs
Due: dashboard-release-build, dashboard-release-publish

[release_cli] Use ic-admin built from same revision as governance canister
  rs/cli/Cargo.toml
  rs/cli/src/ic_admin.rs
  rs/cli/src/main.rs
Due: dashboard-release-build, dashboard-release-publish
